body {
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding: 30px;
}

.main-container {
  display: flex;
  gap: 50px;
}

.lado-direito {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.favorite,
.hated {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personagens {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #ffcc00;
  text-shadow: 1px 1px 5px #000;
}

.galeria,
.dropzone {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: center;
  background-color: #2b2b3d;
  border: 2px solid #444;
  border-radius: 15px;
  padding: 20px;
  width: 700px;
  min-height: 480px;
  transition: all 0.3s ease;
}

.dropzone.highlight {
  border: 2px dashed #ff0000;
  background-color: #3b3b52;
}

.imagens {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

img {
  width: 115px;
  border-radius: 10px;
  cursor: grab;
  border: 2px solid transparent;
  transition: transform 0.2s, border 0.2s;
}

img:hover {
  transform: scale(1.05);
  border: 2px solid #ffcc00;
}

.contador {
  font-size: 14px;
  margin-top: 5px;
  color: #aaa;
}

.mensagem {
  grid-column: span 5;
  font-size: 13px;
  color: #aaa;
  text-align: center;
}

.nome {
  display: flex;
  justify-content: center;
  font-family: 'Arial Black', sans-serif;
  color: #ffcc00;
}